<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.songyinglong.cms.mapper.LinkMapper">
	<sql id="Base_Column_List">
		id,text,url,created
	</sql>
	<select id="selectLinks" resultType="link">
		select <include refid="Base_Column_List"/> from cms_links
	</select>
	<insert id="insertLink">
		insert into cms_links (<include refid="Base_Column_List"/>) values (null,#{text},#{url},#{created})
	</insert>
</mapper>